In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data.csv')
data.head()

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,5,15640,2022,Aaron Judge,NYY,30,157,570,696,177,...,118.4,246,0.609,404,0.169,0.287,NaN,NaN,NaN,11.3
1,8,13611,2018,Mookie Betts,BOS,25,136,520,614,180,...,110.6,217,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
2,10,10155,2018,Mike Trout,LAA,26,140,471,608,147,...,118.0,162,0.460,352,0.201,0.261,NaN,NaN,NaN,9.6
3,4,11579,2015,Bryce Harper,WSN,22,153,521,654,172,...,116.0,188,0.477,394,0.118,0.226,NaN,NaN,NaN,9.3
4,49,10155,2015,Mike Trout,LAA,23,159,575,682,172,...,117.7,205,0.486,422,0.207,0.282,NaN,NaN,NaN,9.3

In [4]:
data_len = len(data)
data_len

4827

In [5]:
next_hits = np.empty((data_len, 1))
next_hits[:, 0] = np.nan
next_hits

array([[nan],
       [nan],
       [nan],
       ...,
       [nan],
       [nan],
       [nan]])

In [6]:
for row in range(data_len):
    season = data.loc[row,"Season"]
    id = data.loc[row,"IDfg"]
    
    next_season = season + 1
    
    # print(f'season: {season}, id: {id}, next season={next_season}')
    
    intersect = ((data['IDfg']==id) & (data['Season']==next_season))
    
    if np.any(intersect):
        next_hits[row, 0] = data.loc[intersect,"H"]

C:\Users\matt_\AppData\Local\Temp\ipykernel_6740\882367182.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  next_hits[row, 0] = data.loc[intersect,"H"]

In [7]:
np.savetxt('next_hits.csv', next_hits, delimiter=",")

In [8]:
data['next_year_hits'] = next_hits

In [9]:
data.to_csv('data2.csv', na_rep='NULL')