In [2]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from pybaseball import standings

In [8]:
season_23 = pd.DataFrame(standings(2023)[1])

season_23

                    Tm   W    L  W-L%    GB
1      Minnesota Twins  87   75  .537    --
2       Detroit Tigers  78   84  .481   9.0
3  Cleveland Guardians  76   86  .469  11.0
4    Chicago White Sox  61  101  .377  26.0
5   Kansas City Royals  56  106  .346  31.0

In [6]:


standings_list = standings(2023)
season_23 = pd.concat(standings_list, ignore_index=True)

season_23

                       Tm    W    L  W-L%    GB
0       Baltimore Orioles  101   61  .623    --
1          Tampa Bay Rays   99   63  .611   2.0
2       Toronto Blue Jays   89   73  .549  12.0
3        New York Yankees   82   80  .506  19.0
4          Boston Red Sox   78   84  .481  23.0
5         Minnesota Twins   87   75  .537    --
6          Detroit Tigers   78   84  .481   9.0
7     Cleveland Guardians   76   86  .469  11.0
8       Chicago White Sox   61  101  .377  26.0
9      Kansas City Royals   56  106  .346  31.0
10         Houston Astros   90   72  .556    --
11          Texas Rangers   90   72  .556    --
12       Seattle Mariners   88   74  .543   2.0
13     Los Angeles Angels   73   89  .451  17.0
14      Oakland Athletics   50  112  .309  40.0
15         Atlanta Braves  104   58  .642    --
16  Philadelphia Phillies   90   72  .556  14.0
17          Miami Marlins   84   78  .519  20.0
18          New York Mets   75   87  .463  29.0
19   Washington Nationals   71   91  .438  33.0
20      Milwaukee Brewers   92   70  .568    --
21           Chicago Cubs   83   79  .512   9.0
22        Cincinnati Reds   82   80  .506  10.0
23     Pittsburgh Pirates   76   86  .469  16.0
24    St. Louis Cardinals   71   91  .438  21.0
25    Los Angeles Dodgers  100   62  .617    --
26   Arizona Diamondbacks   84   78  .519  16.0
27       San Diego Padres   82   80  .506  18.0
28   San Francisco Giants   79   83  .488  21.0
29       Colorado Rockies   59  103  .364  41.0