In [92]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from pybaseball import batting_stats
from sklearn.metrics import accuracy_score

In [93]:
data = (batting_stats(2014, 2018))
X = data[['Age', 'GB', 'LD', 'SwStr%']]
y = data['H']

In [94]:
data

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
1,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,110.6,217,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
2,10155,2018,Mike Trout,LAA,26,140,471,608,147,80,...,118.0,162,0.460,352,0.201,0.261,NaN,NaN,NaN,9.6
0,11579,2015,Bryce Harper,WSN,22,153,521,654,172,91,...,116.0,188,0.477,394,0.118,0.226,NaN,NaN,NaN,9.3
12,10155,2015,Mike Trout,LAA,23,159,575,682,172,93,...,117.7,205,0.486,422,0.207,0.282,NaN,NaN,NaN,9.3
4,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,121.1,186,0.550,338,0.157,0.290,NaN,NaN,NaN,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,3433,2014,Allen Craig,- - -,29,126,461,505,99,70,...,NaN,0,NaN,0,0.187,0.271,NaN,NaN,NaN,-1.6
689,393,2018,Victor Martinez,DET,39,133,467,508,117,87,...,107.6,129,0.304,425,0.148,0.212,NaN,NaN,NaN,-1.7
647,6876,2017,Mark Trumbo,BAL,31,146,559,603,131,86,...,118.5,154,0.375,411,0.154,0.292,NaN,NaN,NaN,-1.3
679,1177,2017,Albert Pujols,LAA,37,149,593,636,143,103,...,112.2,197,0.391,504,0.180,0.268,NaN,NaN,NaN,-2.0
719,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,111.8,113,0.401,282,0.174,0.316,NaN,NaN,NaN,-3.1

In [95]:
X

     Age   GB   LD  SwStr%
1     25  147   92   0.050
2     26  110   82   0.060
0     22  151   87   0.108
12    23  157  103   0.075
4     25  118   74   0.133
..   ...  ...  ...     ...
709   29  189   74   0.083
689   39  167  104   0.065
647   31  178   66   0.138
679   37  219   93   0.089
719   32  111   59   0.142

[720 rows x 4 columns]

In [96]:
y

1      180
2      147
0      172
12     172
4      154
      ...
709     99
689    117
647    131
679    143
719     79
Name: H, Length: 720, dtype: int64

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

rf_model = rf_model.fit(X_train, y_train)

predictions = rf_model.predict(X_test)

In [98]:
# see the training scrores vs the testing scores

print(f"Training Score: {rf_model.score(X_train, y_train)}")
print(f"Testing Score: {rf_model.score(X_test, y_test)}")

Training Score: 0.944010954317653
Testing Score: 0.5443183563055531

In [99]:
MSE = mean_squared_error(y_test, predictions)

r2 = rf_model.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 266.29375644259983, R2: 0.5443183563055531

In [100]:
# find the average error

errors = abs(predictions - y_test)

print('Mean Absolute Error:', round(np.mean(errors), 2), 'points.')

Mean Absolute Error: 13.0 points.

In [101]:
# validate the model with 2022 data

data_2022 = (batting_stats(2019))
X_2022 = data_2022[['Age', 'GB', 'LD', 'SwStr%']]
y_2022 = data_2022['H']

predictions_2022 = rf_model.predict(X_2022)

MSE_2022 = mean_squared_error(y_2022, predictions_2022)

r2_2022 = rf_model.score(X_2022, y_2022)

print(f"MSE: {MSE_2022}, R2: {r2_2022}")

MSE: 203.1340951425058, R2: 0.6207864930604551