In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pybaseball as pyball

In [6]:
a_dataset = pd.read_csv('/Users/karliebaxter/Project-2/resources/dataset.csv')
a_dataset

,IDfg,Name,Age,PA,H,HR,R,RBI,SB,BB,...,wOBA,WAR,BABIP,LD%,GB%,Contact%,SwStr%,Barrel%,EV,maxEV
0,13611,Mookie Betts,25,614,180,32,129,80,30,81,...,0.449,10.4,0.368,0.212,0.339,0.859,0.050,0.131,92.3,110.6
1,10155,Mike Trout,26,608,147,39,101,79,24,122,...,0.447,9.5,0.346,0.234,0.313,0.841,0.060,0.153,91.2,118.0
2,11579,Bryce Harper,22,654,172,42,118,99,6,124,...,0.461,9.3,0.369,0.222,0.385,0.754,0.108,0.122,91.4,116.0
3,10155,Mike Trout,23,682,172,41,104,90,11,92,...,0.415,9.3,0.344,0.244,0.372,0.800,0.075,0.161,92.9,117.7
4,15640,Aaron Judge,25,678,154,52,128,114,9,127,...,0.430,8.7,0.357,0.219,0.349,0.676,0.133,0.249,94.9,121.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4275,393,Victor Martinez,36,485,108,11,39,64,0,31,...,0.286,-2.0,0.253,0.210,0.403,0.874,0.060,0.030,87.7,108.9
4276,5677,A.J. Ellis,33,347,54,3,21,25,0,53,...,0.270,-2.0,0.225,0.170,0.443,0.845,0.056,NaN,NaN,NaN
4277,11376,Michael Choice,24,280,46,9,20,36,1,21,...,0.257,-2.0,0.208,0.134,0.497,0.780,0.092,NaN,NaN,NaN
4278,3448,Jeff Mathis,36,244,36,2,17,12,1,15,...,0.190,-2.1,0.243,0.216,0.396,0.676,0.168,0.007,86.1,105.5
4279,9272,Chris Davis,32,522,79,16,40,49,2,41,...,0.239,-2.6,0.237,0.211,0.396,0.685,0.142,0.096,89.3,111.8

In [7]:
a_dataset.value_counts('Name')

Name
Rougned Odor        8
Justin Upton        8
Carlos Santana      8
Tommy La Stella     8
Cesar Hernandez     8
                   ..
R.A. Dickey         1
Hoy Park            1
Humberto Arteaga    1
Phillip Evans       1
Zelous Wheeler      1
Name: count, Length: 1262, dtype: int64