In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [6]:
data = pd.read_csv('../resources/dataset.csv')

In [7]:
data.head()

,IDfg,Season,Name,Age,PA,H,HR,R,RBI,SB,...,wOBA,WAR,BABIP,LD%,GB%,Contact%,SwStr%,Barrel%,EV,maxEV
0,15640,2022,Aaron Judge,30,696,177,62,133,131,16,...,0.458,11.6,0.340,0.193,0.373,0.722,0.118,0.262,95.8,118.4
1,13611,2018,Mookie Betts,25,614,180,32,129,80,30,...,0.449,10.4,0.368,0.212,0.339,0.859,0.050,0.131,92.3,110.6
2,10155,2018,Mike Trout,26,608,147,39,101,79,24,...,0.447,9.5,0.346,0.234,0.313,0.841,0.060,0.153,91.2,118.0
3,11579,2015,Bryce Harper,22,654,172,42,118,99,6,...,0.461,9.3,0.369,0.222,0.385,0.754,0.108,0.122,91.4,116.0
4,10155,2015,Mike Trout,23,682,172,41,104,90,11,...,0.415,9.3,0.344,0.244,0.372,0.800,0.075,0.161,92.9,117.7

In [8]:
data = data.copy()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1103 entries, 0 to 4808
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDfg      1103 non-null   int64
 1   Season    1103 non-null   int64
 2   Name      1103 non-null   object
 3   Age       1103 non-null   int64
 4   PA        1103 non-null   int64
 5   H         1103 non-null   int64
 6   HR        1103 non-null   int64
 7   R         1103 non-null   int64
 8   RBI       1103 non-null   int64
 9   SB        1103 non-null   int64
 10  BB        1103 non-null   int64
 11  SO        1103 non-null   int64
 12  AVG       1103 non-null   float64
 13  OBP       1103 non-null   float64
 14  SLG       1103 non-null   float64
 15  OPS       1103 non-null   float64
 16  wOBA      1103 non-null   float64
 17  WAR       1103 non-null   float64
 18  BABIP     1103 non-null   float64
 19  LD%       1103 non-null   float64
 20  GB%       1103 non-null   float64
 21  Contact%  1103 non-null   float64
 22  SwStr%    1103 non-null   float64
 23  Barrel%   1103 non-null   float64
 24  EV        1103 non-null   float64
 25  maxEV     1103 non-null   float64
dtypes: float64(14), int64(11), object(1)
memory usage: 232.7+ KB

### Cleaning data

In [6]:
# Drop rows with missing values
data.dropna(inplace=True)

In [10]:
# Drop players who not attend in seasons 2021 and 2022
data = data[data['Season'].isin([2021, 2022])]

### Modeling

Random Forest

In [8]:
y = data['H']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:

# Assuming you've already created X and y by dropping and selecting the 'H' column respectively
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the Random Forest Regressor instance
rf_regressor = RandomForestRegressor(random_state=42)

# Fit the model to the training data
rf_regressor.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_regressor.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R^2 Score: {r2}")